*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none; 
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}
body .content{
    width: 50%;
    height: 50%;
    border: 1px solid transparent;
    margin: 0 auto;
    padding: 1.5%;
    background-color: coral;
    border-radius: 25px ;
}

body .content p{
    font-size: 20px;
    padding: 0 25px;
    
}